table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
}

table tr td:last-child {
    /* ganz rechts die Border entfernen */
    border-right: 0;
}

table tr:first-child td {
    /* ganz oben die Border entfernen */
    border-top: 0;
}

table tr td:first-child {
    /* ganz links die Border entfernen */
    border-left: 0;
}

table tr:last-child td {
    /* ganz unten die Border entfernen */
    border-bottom: 0;
}

.shape {
    /* Bilder übereinander platzieren */
    position: absolute;
    width: 80px;
    height: 80px;
    left: 26px; 
    top: 26px;
}