body { /* Feld mittig platzieren */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 0;
}

.player-panel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}

.player-panel div { /* die DIVs im Player Panel*/
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
} 

.player-panel img { /* Bild der Spieler */
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.player-inactive {
    opacity: 0.5;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
    cursor: pointer;
    /* der Cursor zum Pointer machen beim drüber gehen */
}

td:hover {
    background-color: rgba(25, 221, 0, 0.1);
    /* leich grünen Hover einbinden */
}

table tr td:last-child {
    /* ganz rechts die Border entfernen */
    border-right: 0;
}

table tr:first-child td {
    /* ganz oben die Border entfernen */
    border-top: 0;
}

table tr td:first-child {
    /* ganz links die Border entfernen */
    border-left: 0;
}

table tr:last-child td {
    /* ganz unten die Border entfernen */
    border-bottom: 0;
}

.shape {
    /* Bilder übereinander platzieren */
    position: absolute;
    width: 80px;
    height: 80px;
    left: 26px;
    top: 26px;
}

.d-none {
    /* Klasse zum ausblenden hinzufügen */
    display: none;
}

.horizontal-line {
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    width: 300px;
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg);
    transform: scaleX(0.0);
}

.game-over {
    position: absolute;
    left: 0%;
    right: 0;
    height: 100%;
    width: 100%;
    animation: zoomIn 225ms ease-in-out;
    z-index: 2;
}

.restart-btn {
    border: 1px solid coral;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    color: coral;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: rgb(20, 20, 20);;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}